@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #1C1E85;
  color: #FFF2F5;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
